# Environment variables
.env
.env.*
*.env

# Secrets & credentials

# OS junk
.DS_Store

# Logs
*.log

# Node
node_modules

# Tokens
tokens.json
storage/tokens.json

# Build output
scripts/out/
scripts/out/**

# Google
secrets/
*.json

!public/json/*.json
!resources/statesFiles/*.json
!control-tower/package.json
!control-tower/package-lock.json

/data/secrets/
/data/gsc/
