# Environment variables
.env
.env.*
*.env

# Secrets & credentials

# OS junk
.DS_Store

# Logs
*.log

# Node
node_modules

# Tokens
tokens.json
storage/tokens.json

# Build output
scripts/out/
scripts/out/**

# Google
secrets/
*.json
resources/config/google-cloud.json

!public/json/*.json
!resources/statesFiles/*.json
!control-tower/package.json
!control-tower/package-lock.json
!resources/config/business-profile.json
!resources/config/campaign-factory.config.json
!resources/config/campaign-landing-map.json

/data/secrets/
/data/gsc/
